* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.App {
  width: 49vw;
  height: 95vh;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  border-radius: 1rem;
}

h1, h2, h3, h4 {
  font-family: 'Inter';
}